<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Monster Valle - Dashboard</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/game/game.css">
</head>
<body>
    <section id="game"></section>
    <header>
        <section id="navbar">
            <nav id="top-navbar">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="btn-group" role="group">
                                <a href="/" data-navigo><button type="button" class="btn btn-primary btn-margin">Início</button></a>
                                <button type="button" class="btn btn-primary btn-margin">Perfil</button>
                                <a href="/" data-navigo><button type="button" class="btn btn-warning btn-margin">Premium Market</button></a>
                                <a href="/marketplace" title="Vendas e Trocas entre os Jogadores"><button type="button" class="btn btn-primary btn-margin">Market Place</button></a>
                                <a href="/" data-navigo><button type="button" class="btn btn-primary btn-margin">Comunidade</button></a>
                                <a href="/" data-navigo><button type="button" class="btn btn-primary btn-margin">Estatísticas</button></a>
                                <a href="/" data-navigo><button type="button" class="btn btn-primary btn-margin">Configurações</button></a>
                                {% if rank > 0 %}
                                <a href="/admin"><button type="button" class="btn btn-primary btn-margin">Administração</button></a>
                                {%endif%}
                                <a href="/logout" data-navigo><button type="button" class="btn btn-secondary btn-margin">Sair</button></a>
                        </div>
                    </div>
                </div>
            </nav>
            <nav id="bot-navbar">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="btn-group btn-group-lg" role="group">
                                <a href="/play" data-navigo><button type="button" class="btn btn-danger btn-lg">Jogar</button></a>

                        </div>
                    </div>
                </div>
            </nav>
        </section>
    </header>

    <main>
        <section id="main"></section>
    </main>

    <footer>
        <section id="footer"></section>
    </footer>

    <script type="text/javascript">
        var $Authentication = {uid: {{ uid }}, nickname: "{{ nickname }}", csrf: "{{ csrfToken }}", auth: "{{ authToken }}"};
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/async/3.0.1/async.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/navigo@6.0.2/lib/navigo.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/socketcluster.js"></script>
    <script type="text/javascript" src="/js/replacephrase.js"></script>

    <!-- Phaser -->
    <script type="text/javascript" src="/js/phaser3.js"></script>
    <script type="text/javascript" src="/js/illuminated.js"></script>
    <script type="text/javascript" src="/js/phaser3.button.js"></script>
    <script type="text/javascript" src="/js/HealthBar.p3.js"></script>
    <script type="text/javascript" src="/js/rexdragplugin.min.js"></script>
    <script type="text/javascript" src="/js/rexuiplugin.min.js"></script>
    <script type="text/javascript" src="/js/rexgridtableplugin.min.js"></script>
    
    <!-- Propriedades do Game -->
    <script type="text/javascript" src="/js/new_engine/property.js"></script>

    <!-- Preloader -->
    <script type="text/javascript" src="/js/new_engine/preloader.js"></script>
    
    <!-- Overworld -->
    <script type="text/javascript" src="/js/new_engine/overworld/index.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/map.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/sprite.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/gameobjects.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/dialog.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/automatized.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/online.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/miscellaneous.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/tokens.js"></script>


    <!-- Battle -->
    <script type="text/javascript" src="/js/new_engine/battle/index.js"></script>
    <script type="text/javascript" src="/js/new_engine/battle/sprite.js"></script>
    <script type="text/javascript" src="/js/new_engine/battle/controller.js"></script>
    <script type="text/javascript" src="/js/new_engine/battle/online.js"></script>

    <!-- Interfaces -->
    <script type="text/javascript" src="/js/new_engine/interface/index.js"></script>
    <script type="text/javascript" src="/js/new_engine/interface/bag.js"></script>
    <script type="text/javascript" src="/js/new_engine/interface/party.js"></script>
    <script type="text/javascript" src="/js/new_engine/interface/monsterstatus.js"></script>
    
    <script type="text/javascript" src="/js/internal/app.js"></script>

    <!-- Templates principais -->
    <script type="text/template" data-tempalte="index">
        Olá <%=nickname%>, seja bem-vindo.
    </script>
</body>
</html>