<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>valle-dashboard</title><link href=/static/css/app.3a698916ff9e791eed85517effc42e7e.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript>const $Authentication = {
                id: "{{ uid }}",
                token: {
                    csrf: "{{ csrfToken }}",
                    auth: "{{ authToken }}"
                },
                lang: "br"
            };</script><script type=text/javascript src=/static/js/manifest.7a8041be7ad908c21fa8.js></script><script type=text/javascript src=/static/js/vendor.90d8a15b8aedd09e2c74.js></script><script type=text/javascript src=/static/js/app.eeaace87065429db7961.js></script></body></html>