<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Monster Valle - Market Place :: Minhas Negociações</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/mktsold.css">
</head>
<body>
    <div class="container" style="width: 421px; margin-top: 25px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/marketplace">Market Place</a></li>
                <li class="breadcrumb-item active" aria-current="page">Minhas Negociações</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <h2 class="display-2">Monstros</h2>
    {% for monster in monsters %}
        <ul data-id="{{ monster.id }}"  data-name="{{ db.dex[monster.monsterpedia_id].specie }}" class="list-group m-top">
            <li class="list-group-item">ID: {{ monster.sale_id }}</li>
            <li class="list-group-item">
                Monstro: <img class="max" src="/assets/img/monsters/{{monster.monsterpedia_id }}.png"> {{ db.dex[monster.monsterpedia_id].specie }}&nbsp;
            </li>
            <li class="list-group-item center">
                <a href="/marketplace/purchase/{{ monster.id }}" target="_blank" class="btn btn-primary">Ver Negociação</a>
                <button data-remove-negotiation data-id="{{ monster.id }}" data-type="3" type="button" class="btn btn-primary">Remover Negociação</button>
            </li>
        </ul>
    {%endfor%}

        <h2 class="display-2">Itens</h2>
    {% for item in items %}
        <ul data-id="{{ item.id }}" data-name="{{ db.items[item.sale_id].name }}" class="list-group m-top">
            <li class="list-group-item">Nome do Item: {{ db.items[item.sale_id].name }}</li>
            <li class="list-group-item center">
                <a href="/marketplace/purchase/{{ item.id }}" target="_blank" class="btn btn-primary">Ver Negociação</a>
                <button data-remove-negotiation data-id="{{ item.id }}" data-type="6" type="button" class="btn btn-primary">Remover Negociação</button>
            </li>
        </ul>
    {%endfor%}
    </div>
    <div id="modal-appears"></div>
    <button style="display: none;" id="toggle-modal" data-toggle="modal" data-target="#sell-trade">


    <script type="text/javascript">
        var token = "{{ token }}";
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script type="text/javascript">
        function removeNegotiation (el) {
            var id = el.getAttribute("data-id"),
                type = el.getAttribute("data-type"),
                parent = el.closest("li");
                
            // this.closest("li");
            axios.post("/routes/marketplace", {
                token,
                id,
                type
            })
                .then(response => {
                    if (response.data.success) {
                        parent.innerHTML = "";
                        var success = document.createElement("div");
                        success.setAttribute("class", "alert alert-success");
                        success.innerHTML = "Negociação removida com sucesso!";
                        parent.appendChild(success);
                    };
                });
        };

        var els = document.querySelectorAll("[data-remove-negotiation]");
        for (let i = 0, l = els.length; i < l; i ++) {
            els[i].addEventListener("click", function () {
                removeNegotiation(this);
            });
        };
    </script>
</body>
</html>