<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="/css/game/game.css">
    <link rel="stylesheet" type="text/css" href="/css/game/menu.monsterinpocket.game.css">
    <link rel="stylesheet" type="text/css" href="/css/game/menu.status.game.css">
    <link rel="stylesheet" type="text/css" href="/css/game/menu.items.game.css">
</head>
<body>
    <div id="game">
        <div id="interface"></div>
    </div>
    <script type="text/javascript">
        var $Authentication = {uid: "{{ uid }}", token: "{{ token }}"};
    </script>

    <!-- Libs Externas -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/async/3.0.1/async.min.js"></script>
    <script type="text/javascript" src="https://craig.global.ssl.fastly.net/js/mousetrap/mousetrap.min.js"></script>
    <script type="text/javascript" src="/js/socketcluster.js"></script>
    <script type="text/javascript" src="/js/replacephrase.js"></script>

    <!-- Phaser -->
    <script type="text/javascript" src="/js/phaser3.js"></script>
    <script type="text/javascript" src="/js/phaser3.button.js"></script>
    <script type="text/javascript" src="/js/HealthBar.p3.js"></script>
    <script type="text/javascript" src="/js/rexvirtualjoystickplugin.min.js"></script>
    
    <!-- Propriedades do Game -->
    <script type="text/javascript" src="/js/new_engine/property.js"></script>

    <!-- Preloader -->
    <script type="text/javascript" src="/js/new_engine/preloader.js"></script>
    
    <!-- Overworld -->
    <script type="text/javascript" src="/js/new_engine/overworld/index.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/map.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/sprite.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/movement.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/interface.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/dialog.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/automatized.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/online.js"></script>
    <script type="text/javascript" src="/js/new_engine/overworld/tokens.js"></script>


    <!-- Battle -->
    <script type="text/javascript" src="/js/new_engine/battle/index.js"></script>
    <script type="text/javascript" src="/js/new_engine/battle/sprite.js"></script>
    <script type="text/javascript" src="/js/new_engine/battle/controller.js"></script>
    <script type="text/javascript" src="/js/new_engine/battle/online.js"></script>

    <!-- Chat -->
    <script type="text/javascript" src="/js/new_engine/chat/index.js"></script>
    
    <!-- Boot -->
    <script type="text/javascript" src="/js/new_engine/boot.js"></script>

    <!-- Template das informações do monstro selvagem -->
    <script type="text/template" data-template="wild-info">
        <div id="wild-box">
            <div style="margin-left: 20px;">
                <span><%=name%></span>
                <div id="wild-button-menu">
                    <button class="wild-button" data-type="battle"><%=battle%></button>
                    <button class="wild-button" data-type="run"><%=run%></button>
                </div>
            </div>
        </div>
    </script>

    <!-- Template de menu dos monstros que estão no bracelete -->
    <script type="text/template" data-template="in-pocket-monsters">
        <div id="base-pocket">
            <div class="col-box-pocket col-left-pocket">
                <% for (var i = 0; i < 3; i++) { %>
                    <div class="row-1-pocket">
                        <div class="info_box" data-index="<%= i %>" data-select-monster>
                            <img class="info_icon" src="/img/monster/<%= monsters[i]["id"] %>.png" width="25">
                            <span class="info_name"><%= monsters[i]["specie"] %></span>
                            <span class="info_level">Lv. <%= monsters[i]["level"] %></span>
                            <div class="info_health">
                                <div class="health-bar" title="HP">
                                    <div class="bar">
                                        <div class="hit" style="width: <%=(monsters[i].hp.current / monsters[i].hp.total) * 100 %>%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }; %>
            </div>
            <div class="col-box-pocket col-right-pocket">
                <% for (var i = 3; i < 6; i++) { %>
                    <div class="row-1-pocket">
                        <div class="info_box" data-index="<%= i %>" data-select-monster>
                            <img class="info_icon" src="/img/monster/<%= monsters[i]["id"] %>.png" width="25">
                            <span class="info_name"><%= monsters[i]["specie"] %></span>
                            <span class="info_level">Lv. <%= monsters[i]["level"] %></span>
                            <div class="info_health">
                                <div class="health-bar" title="HP">
                                    <div class="bar">
                                        <div class="hit" style="width: <%=(monsters[i].hp.current / monsters[i].hp.total) * 100 %>%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }; %>
            </div>
            <div id="dialog-pocket">
                <div data-trigger="close" id="dialog-pocket-close">x</div>
                <% _.each(button, function (data) { %>
                    <button data-trigger="<%=data.trigger%>" class="dialog-pocket-button"><%=data.value%></button>
                <% }); %>
            </div>
        </div>
    </script>

    <!-- Template de menu do status do monstro em especifico -->
    <script type="text/template" data-template="monster-status">
        <div id="base-status">
            <div id="info">
                <span>Info</span> 
                <span id="list">
                    <ul> 
                        <li>1</li> 
                        <li>2</li> 
                        <li>3</li> 
                        <li>4</li>
                    </ul>
                </span>
            </div>
            <div id="status">
                <div class="col-box col-left">
                    <div class="row-1">
                        <div class="row-1-side"><%= data.main["name"] %> <%= data.main["gender"] %></div>
                        <div class="row-1-side">Lv. <%= data.main["level"] %></div>
                        <img style="margin-top: 10px;" src="/img/monster/<%= data.main["monsterpedia_id"] %>.png" width="65">
                    </div>
                    
                </div>
                <div class="col-box col-right">
                    <% _.each(data.info, function (data) { %>
                        <div class="row-2">
                            <div class="row-2-side-left"><%= data["attr"] %></div>
                            <div class="row-2-side-right"><%= data["value"] %></div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </script>

    <!-- Template de menu dos itens -->
    <script type="text/template" data-template="items">
        <div id="base-item">
            <div class="col-left-items">
                <div class="item-desc">
                    <img width="44" height="44" id="item-sprite" src="/img/monster/0.png">
                </div>
                <div class="item-desc">
                    <%=lang.select%>
                </div>
            </div>
            <div class="col-right-items">
                <div id="items-list">
                    <% _.each(items, function (data) { %>
                        <div class="item-row" data-id="<%=data.item_id%>">
                            <img src="<%=db[data.item_id].img %>" class="item-row-icon">
                            <span class="item-row-name">
                                <%=db[data.item_id].name %>
                            </span>
                            <span class="item-row-amount">
                                x<%=data.amount %>
                            </span>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </script>

    <!-- Template de menu de usar/equipar item -->
    <script type="text/template" data-template="item-use">
        <div class="item-desc">
            <img width="32" height="44" id="item-sprite" src="<%=img%>">
        </div>
        <div class="item-desc">
            <%=name%>
        </div>
        <div id="use-item-menu">
            <button class="button-action-item" data-action="use"><%=lang.use%></button>
            <button class="button-action-item" data-action="equip"><%=lang.equip%></button>
        </div>
    </script>
</body>
</html>